@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-[#f5f7fa] text-foreground;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

/* Custom toggle switch styling */
.toggle-checkbox:checked {
  right: 0;
  border-color: #0a4d8c;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #0a4d8c;
}
